In [1]:
import pandas as pd

import sys
sys.path.append('../')
from automation_scripts.builders import TableDDLBuilder, StageBuilder
from automation_scripts.file_operations import get_files, write_to_file

In [2]:
# get file names
files = get_files('../data/')

In [3]:
STORAGE_URL = 'azure://msmch.blob.core.windows.net/snowflake-starter'

for file in files:
    fpath = f'../data/{file}'
    df = pd.read_csv(fpath)

    print(file)
    display(df.head())
    print(df.info())

    core_name = file.split(".")[0]
    table_name = f'raw_{core_name}'
    tbl_builder = TableDDLBuilder(df)
    table_ddl = tbl_builder.build_statment(table_name)
    tbl_status = write_to_file(
        fpath = f'../warehouse/tables/staging/{table_name}.sql',
        content = table_ddl
    )
    print(tbl_status, '\n')

    stg_builder = StageBuilder(STORAGE_URL)
    stage_ddl = stg_builder.build_statement(core_name)
    stg_status = write_to_file(
        fpath = f'../warehouse/stages/stg_{core_name}.sql',
        content = stage_ddl
    )
    print(stg_status, '\n')

appearances.csv

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,-1_172127,-1,172127,3999,3999,NaN,Tyronne,GRP,0,0,0,0,90
1,-1_210988,-1,210988,3999,553,NaN,Christos Eleftheriadis,GRP,0,0,0,0,90
2,-1_231471,-1,231471,3999,3999,NaN,Theofanis Tzandaris,GRP,0,0,0,0,90
3,-1_256819,-1,256819,3999,3999,NaN,Nikolaos Tsoukalos,GRP,0,0,0,0,90
4,-1_281919,-1,281919,3999,3999,NaN,Adam Tzanetopoulos,GRP,0,0,0,0,90

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1166215 entries, 0 to 1166214
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1166215 non-null  object
 1   game_id                 1166215 non-null  int64
 2   player_id               1166215 non-null  int64
 3   player_club_id          1166215 non-null  int64
 4   player_current_club_id  1166215 non-null  int64
 5   date                    1154308 non-null  object
 6   player_name             1165851 non-null  object
 7   competition_id          1166215 non-null  object
 8   yellow_cards            1166215 non-null  int64
 9   red_cards               1166215 non-null  int64
 10  goals                   1166215 non-null  int64
 11  assists                 1166215 non-null  int64
 12  minutes_played          1166215 non-null  int64
dtypes: int64(9), object(4)
memory usage: 115.7+ MB
None
File ../warehouse/tables/staging/raw_appearances.sql saved successfully.

File ../warehouse/stages/stg_appearances.sql saved successfully.

clubs.csv

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,url
0,127,sc-paderborn-07,NaN,L1,NaN,26,25.7,5,19.2,1,Home Deluxe Arena,15000,€-450k,NaN,2019,https://www.transfermarkt.co.uk/sc-paderborn-0...
1,192,roda-jc-kerkrade,NaN,NL1,NaN,25,23.9,9,36.0,0,Parkstad Limburg Stadion,19979,+€1.30m,NaN,2017,https://www.transfermarkt.co.uk/roda-jc-kerkra...
2,2239,us-cremonese,US Cremonese,IT1,NaN,26,26.0,12,46.2,7,Giovanni Zini,16003,€-33.80m,NaN,2022,https://www.transfermarkt.co.uk/us-cremonese/s...
3,2423,cd-santa-clara,CD Santa Clara,PO1,NaN,31,25.8,20,64.5,2,Estádio de São Miguel,15000,+€5.85m,NaN,2022,https://www.transfermarkt.co.uk/cd-santa-clara...
4,24245,umraniyespor,Ümraniyespor,TR1,NaN,24,28.4,10,41.7,3,Ümraniye Belediyesi Şehir Stadı,3513,+-0,NaN,2022,https://www.transfermarkt.co.uk/umraniyespor/s...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  411 non-null    int64
 1   club_code                411 non-null    object
 2   name                     236 non-null    object
 3   domestic_competition_id  411 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               411 non-null    int64
 6   average_age              373 non-null    float64
 7   foreigners_number        411 non-null    int64
 8   foreigners_percentage    365 non-null    float64
 9   national_team_players    411 non-null    int64
 10  stadium_name             411 non-null    object
 11  stadium_seats            411 non-null    int64
 12  net_transfer_record      411 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              411 non-null    int64
 15  url                      411 non-null    object
dtypes: float64(4), int64(6), object(6)
memory usage: 51.5+ KB
None
File ../warehouse/tables/staging/raw_clubs.sql saved successfully.

File ../warehouse/stages/stg_clubs.sql saved successfully.

club_games.csv

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2221747,440,0,-1,Sven Köhler,52,1,-1,Oliver Reck,Home,0
1,2221760,113,0,-1,Petrik Sander,15,4,-1,Sascha Lewandowski,Home,0
2,2222539,60,1,11,Christian Streich,39,1,10,Thomas Tuchel,Home,0
3,2222541,41,0,15,Thorsten Fink,4,1,6,Dieter Hecking,Home,0
4,2222542,24,2,5,Armin Veh,15,1,12,Sascha Lewandowski,Home,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123076 entries, 0 to 123075
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                123076 non-null  int64
 1   club_id                123076 non-null  int64
 2   own_goals              123076 non-null  int64
 3   own_position           123076 non-null  int64
 4   own_manager_name       121728 non-null  object
 5   opponent_id            123076 non-null  int64
 6   opponent_goals         123076 non-null  int64
 7   opponent_position      123076 non-null  int64
 8   opponent_manager_name  121728 non-null  object
 9   hosting                123076 non-null  object
 10  is_win                 123076 non-null  int64
dtypes: int64(8), object(3)
memory usage: 10.3+ MB
None
File ../warehouse/tables/staging/raw_club_games.sql saved successfully.

File ../warehouse/stages/stg_club_games.sql saved successfully.

competitions.csv

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url
0,BE1,jupiler-pro-league,jupiler-pro-league,first_tier,domestic_league,19,Belgium,BE1,europa,https://www.transfermarkt.co.uk/jupiler-pro-le...
1,SCI,supercoppa-italiana,supercoppa-italiana,domestic_super_cup,other,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/supercoppa-ita...
2,SFA,sfa-cup,sfa-cup,domestic_cup,domestic_cup,190,Scotland,SC1,europa,https://www.transfermarkt.co.uk/sfa-cup/starts...
3,UKRS,ukrainian-super-cup,ukrainian-super-cup,domestic_super_cup,other,177,Ukraine,UKR1,europa,https://www.transfermarkt.co.uk/ukrainian-supe...
4,FAC,fa-cup,fa-cup,domestic_cup,domestic_cup,189,England,GB1,europa,https://www.transfermarkt.co.uk/fa-cup/startse...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   competition_id        43 non-null     object
 1   competition_code      43 non-null     object
 2   name                  43 non-null     object
 3   sub_type              43 non-null     object
 4   type                  43 non-null     object
 5   country_id            43 non-null     int64
 6   country_name          36 non-null     object
 7   domestic_league_code  36 non-null     object
 8   confederation         43 non-null     object
 9   url                   43 non-null     object
dtypes: int64(1), object(9)
memory usage: 3.5+ KB
None
File ../warehouse/tables/staging/raw_competitions.sql saved successfully.

File ../warehouse/stages/stg_competitions.sql saved successfully.

games.csv

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,url,home_club_name,away_club_name,aggregate,competition_type
0,2222539,L1,2012,1. Matchday,2012-08-25,60,39,1,1,11,...,Christian Streich,Thomas Tuchel,Dreisamstadion,22500.0,Deniz Aytekin,https://www.transfermarkt.co.uk/sc-freiburg_1-...,SC Freiburg,1.FSV Mainz 05,1:1,domestic_league
1,2222541,L1,2012,1. Matchday,2012-08-25,41,4,0,1,15,...,Thorsten Fink,Dieter Hecking,Volksparkstadion,50123.0,Marco Fritz,https://www.transfermarkt.co.uk/hamburger-sv_1...,NaN,NaN,0:1,domestic_league
2,2222542,L1,2012,1. Matchday,2012-08-25,24,15,2,1,5,...,Armin Veh,Sascha Lewandowski,Commerzbank Arena,27950.0,Thorsten Kinhöfer,https://www.transfermarkt.co.uk/eintracht-fran...,Eintracht Frankfurt,Bayer 04 Leverkusen,2:1,domestic_league
3,2222595,RU1,2012,3. Matchday,2012-08-05,2700,4128,1,0,3,...,Guus Hiddink,Rustem Khuzin,Dinamo,14000.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/anzhi-makhachk...,NaN,NaN,1:0,domestic_league
4,2222636,RU1,2012,4. Matchday,2012-08-12,1083,2696,1,2,15,...,Miodrag Bozovic,Andrey Kobelev,Olimp-2,6800.0,Vitali Meshkov,https://www.transfermarkt.co.uk/fk-rostov_kryl...,FK Rostov,Krylya Sovetov Samara,1:2,domestic_league

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61538 entries, 0 to 61537
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 61538 non-null  int64
 1   competition_id          61538 non-null  object
 2   season                  61538 non-null  int64
 3   round                   61538 non-null  object
 4   date                    61538 non-null  object
 5   home_club_id            61538 non-null  int64
 6   away_club_id            61538 non-null  int64
 7   home_club_goals         61538 non-null  int64
 8   away_club_goals         61538 non-null  int64
 9   home_club_position      61538 non-null  int64
 10  away_club_position      61538 non-null  int64
 11  home_club_manager_name  60864 non-null  object
 12  away_club_manager_name  60864 non-null  object
 13  stadium                 61350 non-null  object
 14  attendance              52542 non-null  float64
 15  referee                 60974 non-null  object
 16  url                     61538 non-null  object
 17  home_club_name          37417 non-null  object
 18  away_club_name          38092 non-null  object
 19  aggregate               61538 non-null  object
 20  competition_type        61538 non-null  object
dtypes: float64(1), int64(8), object(12)
memory usage: 9.9+ MB
None
File ../warehouse/tables/staging/raw_games.sql saved successfully.

File ../warehouse/stages/stg_games.sql saved successfully.

game_events.csv

,game_id,minute,type,club_id,player_id,description,player_in_id
0,2221747,70,Substitutions,52,2125,NaN,43984.0
1,2221747,80,Substitutions,440,23566,NaN,40679.0
2,2221747,86,Substitutions,52,8639,NaN,42749.0
3,2221747,88,Substitutions,440,43822,NaN,83191.0
4,2221760,68,Substitutions,15,61087,NaN,39102.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559962 entries, 0 to 559961
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   game_id       559962 non-null  int64
 1   minute        559962 non-null  int64
 2   type          559962 non-null  object
 3   club_id       559962 non-null  int64
 4   player_id     559962 non-null  int64
 5   description   169995 non-null  object
 6   player_in_id  389422 non-null  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 29.9+ MB
None
File ../warehouse/tables/staging/raw_game_events.sql saved successfully.

File ../warehouse/stages/stg_game_events.sql saved successfully.

players.csv

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,597,Aleksandr,Hleb,Aleksandr Hleb,2016,2696,aleksandr-hleb,UdSSR,Minsk,Belarus,...,NaN,NaN,NaN,19000000.0,NaN,fair-sport GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/aleksandr-hleb...,RU1,Krylya Sovetov Samara
1,1428,Mike,Hanke,Mike Hanke,2013,60,mike-hanke,Germany,Hamm,Germany,...,right,185.0,NaN,5000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/mike-hanke/pro...,L1,SC Freiburg
2,1560,Youssef,El Akchaoui,Youssef El Akchaoui,2012,306,youssef-el-akchaoui,Netherlands,Dordrecht,Morocco,...,NaN,NaN,NaN,1750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/youssef-el-akc...,NL1,SC Heerenveen
3,1587,Mario,Eggimann,Mario Eggimann,2012,42,mario-eggimann,Switzerland,Brugg,Switzerland,...,right,190.0,NaN,3000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/mario-eggimann...,L1,NaN
4,1726,Heiko,Westermann,Heiko Westermann,2016,610,heiko-westermann,Germany,Alzenau,Germany,...,right,190.0,NaN,9000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/heiko-westerma...,NL1,Ajax Amsterdam

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28459 entries, 0 to 28458
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             28459 non-null  int64
 1   first_name                            26609 non-null  object
 2   last_name                             28459 non-null  object
 3   name                                  28459 non-null  object
 4   last_season                           28459 non-null  int64
 5   current_club_id                       28459 non-null  int64
 6   player_code                           28459 non-null  object
 7   country_of_birth                      26660 non-null  object
 8   city_of_birth                         26670 non-null  object
 9   country_of_citizenship                28458 non-null  object
 10  date_of_birth                         28417 non-null  object
 11  sub_position                          28300 non-null  object
 12  position                              28459 non-null  object
 13  foot                                  26385 non-null  object
 14  height_in_cm                          26741 non-null  float64
 15  market_value_in_eur                   17938 non-null  float64
 16  highest_market_value_in_eur           27437 non-null  float64
 17  contract_expiration_date              17946 non-null  object
 18  agent_name                            13987 non-null  object
 19  image_url                             28459 non-null  object
 20  url                                   28459 non-null  object
 21  current_club_domestic_competition_id  28459 non-null  object
 22  current_club_name                     19054 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 5.0+ MB
None
File ../warehouse/tables/staging/raw_players.sql saved successfully.

File ../warehouse/stages/stg_players.sql saved successfully.

player_valuations.csv

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424323 entries, 0 to 424322
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            424323 non-null  int64
 1   last_season                          424323 non-null  int64
 2   datetime                             424323 non-null  object
 3   date                                 424323 non-null  object
 4   dateweek                             424323 non-null  object
 5   market_value_in_eur                  424323 non-null  int64
 6   n                                    424323 non-null  int64
 7   current_club_id                      424323 non-null  int64
 8   player_club_domestic_competition_id  424323 non-null  object
dtypes: int64(5), object(4)
memory usage: 29.1+ MB
None
File ../warehouse/tables/staging/raw_player_valuations.sql saved successfully.

File ../warehouse/stages/stg_player_valuations.sql saved successfully.