In [1]:
import os
import pandas as pd

import sys
sys.path.append('../')
from automation_scripts.file_operations import get_files

In [2]:
# get file names
data_path = r"C:\coding\data_sets\football_data"
files = get_files(data_path)

for file in files:
    df = pd.read_csv(os.path.join(data_path, file))
    print(file)
    display(df.head())
    print(df.info())

appearances.csv

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700139 entries, 0 to 1700138
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           object
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    object
 6   player_name             object
 7   competition_id          object
 8   yellow_cards            int64
 9   red_cards               int64
 10  goals                   int64
 11  assists                 int64
 12  minutes_played          int64
dtypes: int64(9), object(4)
memory usage: 168.6+ MB
None
clubs.csv

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.5,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  439 non-null    int64
 1   club_code                439 non-null    object
 2   name                     439 non-null    object
 3   domestic_competition_id  439 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               439 non-null    int64
 6   average_age              401 non-null    float64
 7   foreigners_number        439 non-null    int64
 8   foreigners_percentage    390 non-null    float64
 9   national_team_players    439 non-null    int64
 10  stadium_name             439 non-null    object
 11  stadium_seats            439 non-null    int64
 12  net_transfer_record      439 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              439 non-null    int64
 15  filename                 439 non-null    object
 16  url                      439 non-null    object
dtypes: float64(4), int64(6), object(7)
memory usage: 58.4+ KB
None
club_games.csv

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147600 entries, 0 to 147599
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                147600 non-null  int64
 1   club_id                147582 non-null  float64
 2   own_goals              147576 non-null  float64
 3   own_position           102722 non-null  float64
 4   own_manager_name       145942 non-null  object
 5   opponent_id            147582 non-null  float64
 6   opponent_goals         147576 non-null  float64
 7   opponent_position      102722 non-null  float64
 8   opponent_manager_name  145942 non-null  object
 9   hosting                147600 non-null  object
 10  is_win                 147600 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 12.4+ MB
None
competitions.csv

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   competition_id            44 non-null     object
 1   competition_code          44 non-null     object
 2   name                      44 non-null     object
 3   sub_type                  44 non-null     object
 4   type                      44 non-null     object
 5   country_id                44 non-null     int64
 6   country_name              36 non-null     object
 7   domestic_league_code      36 non-null     object
 8   confederation             44 non-null     object
 9   url                       44 non-null     object
 10  is_major_national_league  44 non-null     bool
dtypes: bool(1), int64(1), object(9)
memory usage: 3.6+ KB
None
games.csv

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73800 entries, 0 to 73799
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 73800 non-null  int64
 1   competition_id          73800 non-null  object
 2   season                  73800 non-null  int64
 3   round                   73800 non-null  object
 4   date                    73800 non-null  object
 5   home_club_id            73791 non-null  float64
 6   away_club_id            73791 non-null  float64
 7   home_club_goals         73788 non-null  float64
 8   away_club_goals         73788 non-null  float64
 9   home_club_position      51361 non-null  float64
 10  away_club_position      51361 non-null  float64
 11  home_club_manager_name  72971 non-null  object
 12  away_club_manager_name  72971 non-null  object
 13  stadium                 73550 non-null  object
 14  attendance              63891 non-null  float64
 15  referee                 73148 non-null  object
 16  url                     73800 non-null  object
 17  home_club_formation     66833 non-null  object
 18  away_club_formation     67002 non-null  object
 19  home_club_name          60956 non-null  object
 20  away_club_name          62348 non-null  object
 21  aggregate               73788 non-null  object
 22  competition_type        73800 non-null  object
dtypes: float64(7), int64(2), object(14)
memory usage: 13.0+ MB
None
game_events.csv

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031485 entries, 0 to 1031484
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   game_event_id     1031485 non-null  object
 1   date              1031485 non-null  object
 2   game_id           1031485 non-null  int64
 3   minute            1031485 non-null  int64
 4   type              1031485 non-null  object
 5   club_id           1031485 non-null  int64
 6   player_id         1031485 non-null  int64
 7   description       944171 non-null   object
 8   player_in_id      495654 non-null   float64
 9   player_assist_id  156042 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 78.7+ MB
None
game_lineups.csv

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191911 entries, 0 to 2191910
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   game_lineups_id  object
 1   date             object
 2   game_id          int64
 3   player_id        int64
 4   club_id          int64
 5   player_name      object
 6   type             object
 7   position         object
 8   number           object
 9   team_captain     int64
dtypes: int64(4), object(6)
memory usage: 167.2+ MB
None
players.csv

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32598 entries, 0 to 32597
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32598 non-null  int64
 1   first_name                            30537 non-null  object
 2   last_name                             32598 non-null  object
 3   name                                  32598 non-null  object
 4   last_season                           32598 non-null  int64
 5   current_club_id                       32598 non-null  int64
 6   player_code                           32598 non-null  object
 7   country_of_birth                      29801 non-null  object
 8   city_of_birth                         30145 non-null  object
 9   country_of_citizenship                32215 non-null  object
 10  date_of_birth                         32551 non-null  object
 11  sub_position                          32417 non-null  object
 12  position                              32598 non-null  object
 13  foot                                  30062 non-null  object
 14  height_in_cm                          30339 non-null  float64
 15  contract_expiration_date              20502 non-null  object
 16  agent_name                            16572 non-null  object
 17  image_url                             32598 non-null  object
 18  url                                   32598 non-null  object
 19  current_club_domestic_competition_id  32598 non-null  object
 20  current_club_name                     32598 non-null  object
 21  market_value_in_eur                   31066 non-null  float64
 22  highest_market_value_in_eur           31066 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB
None

KeyboardInterrupt: